@mixin vh{
	position: relative;
	top: 50%;
	transform: translateY(50%);
}

@mixin transform($transforms) {
	transform: $transforms;
}
@mixin transition($args) {
	transition: $args;
}
@mixin animation($str) {
  animation: #{$str};
}
@mixin keyframes($name) {
	@keyframes #{$name} { @content; }
}

@mixin appearance-reset{
	appearance:none;
}
