mixin fixed-numbers(classes, content)
	- var content = content || {}
	- var classes = classes || {}
	div.content
		span.fixed-numbers.top.left 2
		span.fixed-numbers.top.right 0
		span.fixed-numbers.bottom.left 1
		span.fixed-numbers.bottom.right 5
